.card {
    color: get-color('white');
    background-color: get-color('blue');
    border-radius: 2px;
    line-height: 1.6;
    margin: 10px;
    font-family: $font-family;
    
    :hover {
        i {
            color: get-color('yellow');
        }
    }

    
    &__title {
        
    }

    // sm, md, lg, xl
    @include create-breakpoint('sm') {
        padding: 18px;
        font-size: $font-family;
    }

    @include create-breakpoint('md') {
        padding: 20px;
        font-size: $font-family;
    }

    @include create-breakpoint('lg') {
        padding: 22px;
        font-size: $font-family;
    }
    
}




