footer {
    background-color: #181D26;
    color: white;
    padding: 10px;

    a {
        text-decoration: none;
        color: white;
    }

    h3,
    h4,
    section {
        margin-bottom: 10px;
        a:hover {
            color: #FBEA26;
        }
    }

}
