* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    line-height: 1.5;
    font-family: $font-family;
    // upcoming code is meant to push down the footer in any situation
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: get-color('offwhite');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-alt;
}

main {
    flex-grow: 1;
}
