.content--style {

    img {
        max-width: 100%;
        height: auto;
    }
    ul {
        list-style: none;

        
    }
    a {
        text-decoration: none;
        color: get-color('black');
        display: block;
        font-weight: bold;
    }
}

.banner {
    max-height: 650px;
}

.links-sidebar a {
   

    &:hover {
        background: get-color('gray-dark');
        color: get-color('white');
    }

}

.pdf--icon li {
    list-style-image: url(/www/media/pdf-icon.png);
    margin-left: 30px;
}

